html {
	font-size: 22px;
}

body {
	background-color: #333;
	color: whitesmoke;
}

a {
	color: rgb(85, 84, 84);
	text-decoration: none;
}
li {
	list-style: none;
}
a:visited {
	color: rgb(30, 70, 148);
}

a:hover , a:active {
	color: #d54e4e;
}